.container {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 1000;
  width: 400px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  flex-basis: 100px;
}

.content {
  flex: 1;
}

.footer {
  flex-basis: 150px;
}

.close {
  position: absolute;
  display: block;
  width: auto;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
}

.close-button {
  display: inline-block;
  padding: 5px;
  transition: all 0.1s linear;
  color: rgb(50, 50, 50);
}

.close:hover .close-button {
  transform: scale(1.05);
  color: black;
  box-shadow: var(--button-shadow-hover);
}

.close:active .close-button {
  background-color: rgba(220, 220, 220, 0.2);
}
