.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px 0px;
}

.label {
  margin-bottom: 5px;
  font-size: 0.85em;
  font-weight: 200;
  padding-left: 5px;
  text-transform: capitalize;
  width: fit-content;
}

.required:after {
  margin-left: 3px;
  content: '*';
  color: red;
  font-weight: 200;
  font-size: 1.1em;
}

.select-container {
  position: relative;
  width: 100%;
}

.select-container::after {
  content: '';
  background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 24 24%22%3E%3Cpolygon fill%3D%22%23222222%22 points%3D%2216.5 10 12 16 7.5 10 16.5 10%22%2F%3E%3C%2Fsvg%3E');
  width: 24px;
  height: 24px;
  pointer-events: none;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.select {
  width: 50%;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  letter-spacing: 1px;
  height: 40px;
  padding: 5px;
  box-shadow: 0 1px 6px 0 rgb(58 58 58 / 15%);
  transition: border-color 200ms ease-out;
  appearance: none;
  display: block;
  text-overflow: '';
}

.select:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
