.root {
  padding: 40px 20px;
  flex: 1;
  overflow: auto;
}

.root button {
  margin: auto;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.product .summary {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.product .name {
  font-weight: 400;
  font-size: 0.95em;
}

.options {
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
}

.colorc {
  border: 1px solid black;
  padding: 5px;
  margin-right: 20px;
}

.color {
  background: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: sepia(5) saturate(100) invert(1) grayscale(1) contrast(9);
  margin: 0;
}

.sizec {
  border: 1px solid black;
  padding: 5px;
}

.size {
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}

.product .actions {
  display: flex;
}

.product img {
  max-width: 80px;
  max-height: 100px;
}

.footer {
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  z-index: 10;
  text-align: center;
  background-color: white;
  box-shadow: 0px -1px 10px 0px rgb(230, 230, 230);
}

.footer .actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.footer .actions .checkout {
  width: 100%;
  height: 40px;
  max-height: 40px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: rgb(24, 24, 24);
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.footer .actions .checkout:hover {
  background-color: rgb(80, 80, 80);
  border-color: white;
}

.footer .actions .checkout:active {
  background-color: rgb(80, 80, 80);
  border-color: blue;
}

.footer .actions .checkout:disabled {
  background-color: rgb(80, 80, 80);
  border-color: white;
  cursor: not-allowed;
}

.labels {
  margin: 20px 0px;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 3px 0px;
}

.label .bold {
  font-weight: 600;
}

.remove {
  color: brown;
  padding: 5px;
  font-size: 10px;
}

.quantity-buttons {
  display: flex;
  justify-content: space-around;
  width: 80px;
  margin-left: 10px;
}

.quantity-text {
  font-size: 15px;
}

.close {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  border-bottom-width: 50%;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 3px;
  visibility: hidden;
  background-color: black;
  color: white;
}

@media (max-width: 800px) {
  .close {
    visibility: visible;
  }
}

@media (max-width: 500px) {
  .root {
    padding: 5px;
    margin-top: 50px;
  }

  .product .name {
    font-size: 0.8em;
  }
}
