.root {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 10px 0px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  width: fit-content;
  margin: auto;
}

.description {
  font-size: 0.8em;
  font-weight: 400;
}

.total {
  margin: 0px auto 0px auto;
  font-weight: 400;
  font-size: 0.9em;
}

.back {
  font-size: 14px;
  margin: 0px auto 20px auto;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 3px;
  cursor: pointer;
}

.back:hover {
  background-color: black;
  color: white;
  transition: all 0.15s linear;
}

.product {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .name {
  font-weight: 400;
  font-size: 0.95em;
}

.options {
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
}

.colorc {
  border: 1px solid black;
  padding: 5px;
  margin-right: 20px;
}

.color {
  background: inherit;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: sepia(5) saturate(100) invert(1) grayscale(1) contrast(9);
  margin: 0;
}

.sizec {
  border: 1px solid black;
  padding: 5px;
}

.size {
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}

.product img {
  max-width: 150px;
}

.product-description {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 20px;
}

.info {
  flex: 1;
}

.product .name {
  flex: 1;
}

.product .price {
  text-align: right;
  flex-basis: 150px;
}

@media (max-width: 1200px) {
  .title {
    margin: auto;
  }
  .total {
    margin: auto;
  }
  .product img {
    max-width: 100px;
  }
  .product .name {
    font-size: 14px;
  }
  .product .price {
    flex-basis: 50px;
    font-size: 14px;
  }
}
