.product-container {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  flex-grow: 1;
  flex-basis: 18%;
  max-width: 18%;
  min-width: 160px;
}

.product-container p {
  color: hsl(0deg, 0%, 29%);
}

.product-container span {
  color: hsl(0deg, 0%, 29%);
}

.product-image {
  display: flex;
}
.product-description {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 5px 10px;
}

.product-description-title {
  font-size: 14px;
  min-width: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rating-count {
  vertical-align: text-bottom;
}

.product-container:hover {
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.product-image:hover {
  opacity: 0.8;
  transition: all linear 0.2s;
}

.product-image img {
  border-radius: 6px;
}

.asdasd {
  color: red;
}
