.root {
  min-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  flex: 1 1;
}

.root:focus-visible {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
