.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
  justify-content: space-between;
  padding: 0px 100px;
}

.empty {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -30px;
  text-align: center;
  background-color: antiquewhite;
  padding: 5px;
  letter-spacing: 0.8px;
  font-size: 0.9em;
}

@media (max-width: 1500px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    padding: 0px;
  }
}

@media (max-width: 800px) {
  .empty {
    padding: 0px 0px;
    margin-top: -20px;
    font-size: 0.9em;
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }
}
