.root {
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: 31;
  backdrop-filter: blur(0.8px);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.sider {
  min-height: 100%;
  min-width: 500px;
  max-width: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
  top: 0px;
  background-color: white;
}

@media (max-width: 800px) {
  .sider {
    min-width: 100%;
  }
}
