.root {
  position: sticky;
  width: calc(100vw - 15px);
  top: 0px;
  z-index: 30;
}

.root nav {
  max-height: 3.25rem;
  min-height: 74px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  box-shadow: 0px;
  transition: box-shadow 0.2s ease-out;
}

.is-scrolled nav {
  box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in;
}

.root img {
  height: 2rem;
  width: 2rem;
  padding: 0px;
  cursor: pointer;
}

.nav-start {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  place-content: flex-start;
}

.nav-end {
  margin-right: 2rem;
  display: flex;
  flex: 1 1;
  place-content: flex-end;
}

.nav-item {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  min-height: 100%;
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 5px;
  transition: 0.3s;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
}

.nav-item:hover {
  text-decoration-color: rgba(0, 0, 0, 0.2);
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.2);
  -moz-text-decoration-color: rgba(0, 0, 0, 0.2);
}

.nav-item-logo {
  border-radius: 50%;
  border-color: transparent;
}

.nav-item-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-image: linear-gradient(
    133deg,
    rgb(18, 125, 248),
    rgb(209, 12, 12) 100%
  );
  cursor: pointer;
}

.nav-item-cart {
  position: relative;
}

.nav-item-cart-has-items {
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  bottom: 0px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(80, 80, 80);
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  color: white;
}

.search-migrate {
  min-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  flex: 1 1;
}

@media (max-width: 900px) {
  .root {
    width: 100%;
  }

  .search-migrate {
    display: none;
  }
}
