.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.login * {
  margin: 10px 0px;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row label {
  margin-bottom: 0px;
  text-transform: uppercase;
  color: rgb(100, 100, 100);
  font-size: 13px;
  letter-spacing: 1px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.buttons .login {
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(0, 116, 212);
  color: white;
  box-shadow: none;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 0.9em;
}

.buttons .register {
  outline: none;
  border: none;
  font-size: 0.9em;
}
