#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  padding: 40px 100px 100px 100px;
}

footer {
  margin-top: auto;
}

button {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  cursor: pointer;
  transition: all 0.15s linear;
  box-shadow: 1px 1px 15px 1px rgb(235, 235, 235);
  font-size: 1em;
}

button:hover {
  background-color: rgb(235, 235, 235);
}

button.no-shadow {
  box-shadow: none;
}

:root {
  --star-size: 18px;
  --star-color: #fff;
  --star-background: #fc0;
  --button-shadow-hover: 3px 3px 5px 1px rgba(220, 220, 220, 0.8);
}

.text-sm {
  font-size: 12px;
}

@media (max-width: 1555px) and (min-width: 1500px) {
  /* TODO workaround for layout shift due to empty scrollbar and resizes */
  html,
  body {
    overflow-y: hidden;
  }
}

@media (max-width: 800px) {
  main {
    padding: 15px 10px;
  }
}
